<div class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= question.text %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= question.answer %>
      </div>
    <% end %>

    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
        <span>| Спросил: </span>
      <% if question.author.nil? %>
        <%= 'Аноним' %>
      <% else %>
        <%= link_to question.author.username , user_path(question.author) %>
      <% end %>
    </div>
    <div class="question-hashtag">
      <%= render partial: 'hashtags/hashtag', collection: question.hashtags.uniq %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  <% end %>
</div>
